.sidebar{
  margin-top: 10px;
}

.navBar{
  border-bottom: 1px solid black;
}

.NavbarBrand{
  margin-left: 50%;
}

.pro-sidebar  {
  border:1px black solid;
  float:left;
}


h1{
  unicode-bidi:bidi-override;
    direction:rtl;
}
h1::first-letter{
color:red;
}